.uploadButton {
    border: solid;
    border-width: 0.08vw;
    border-color:#33b5e5;
    color: #33b5e5;
    background-color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  