.fileUploadLabel{
    width: 18vw;
    padding: 10px;
    background: #4dbd74;
    // border-radius: 5px; 
    display: table;
    // color: #fff;
    color: black;
}
// .fileUploadLabel:hover{
//     width: 15vw;
//     padding: 10px;
//     background: #4dbd74;
//     // border-radius: 5px; 
//     display: table;
//     color: black;
// }